<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
    </head>
    <body style="border: 1px solid black; margin: 0;">
        <header>
            WeatherDestination.com
        </header>
        <form>
            <label for="city">Enter name of city in France you are traveling to:</label>
            <input type="text" id="city" name="city" required placeholder="Enter Destination">
            <div class="date-field">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="start-date" required>
                <label for="end">End date:</label>
                <input type="date" id="end" name="end-date" required>
            </div>
            <button type="submit" id="tripButton">Look up weather</button> 
        </form>
        <main>
        </main>
        <footer>
            Made with love in Paris!
        </footer>
    </body>
</html>